<%= form_for(@wall) do |f| %>
  <% if @wall.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wall.errors.count, "error") %> prohibited this wall from being saved:</h2>

      <ul>
      <% @wall.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field title">
    <%= f.text_area :title, :value => 'What do you think of this toilet?', :class => 'main_topic_field' %>
  </div>
  <div class="actions">
    <%= image_submit_tag("start_button.png", :id => 'start_button') %>
  </div>
<% end %>
