<% content_for :title, @wall.title %>

<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<div id="heading_box">
  <%= image_tag("box_top.png", :style => 'position: relative; left: -1px;width:100%') %>
  
  <h1 class="formheader"><%= @wall.title %></h1>

  <%= image_tag("box_bottom.png", 
    :style => 'position: relative; left: -1px; top: 5px') %>
</div>

<button id="follow_button" class="dribbble smaller" 
        data-url="<%= subscriptions_path %>"
        data-id="<%= @wall.id %>">Subscribe via email</button>


<div id="posts">
  <%= image_tag("box_top.png", :style => 'position: relative; left: -1px;width:100%') %>
  <div id="posts_content">
    <% @latest_posts.each do |post| %>
    	<p class="signature"><%= post.signature %>:</p>
      <p class="body"><%= post.body %></p>
      <p class="time"><%= time_ago_in_words(post.created_at) %> ago</p>
      <hr />
    <% end %>
    <% if @latest_posts.length == 0 %>
    Nobody has written anything yet. Yay! You'll be the first one to write something!
    <% end %>

  </div>

    <%= form_for(@post) do |f| %>
    <input type="hidden" name="post[wall_id]" value="<%= @wall.id %>" />
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> 
        prohibited this post from being saved:</h2>
        <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="fields">
      <div class="body field">
        <%= f.text_area :body %>
      </div>
      <div class="signature field">
        <%= f.label :signature %>:
        <%= f.text_field :signature, :maxlength => 25 %>
      </div>
      <button class="dribbble">Post</button>
    </div>
  <% end %>

  <%= image_tag("box_bottom.png", 
    :style => 'position: relative; left: -1px; top: 5px') %>
</div>

<div id="bookmark_bar">
  Keep tabs on this discussion by bookmarking it!
  <div id="arrow">V</div>
</div>

<style>
#content {  width: 320px !important; }
</style>