<p id="notice"><%= notice %></p>

<h1 class="formheader"><%= @wall.title %></h1>

<%= form_for(@post) do |f| %>
  <input type="hidden" name="post[wall_id]" value="<%= @wall.id %>" />
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> 
      prohibited this post from being saved:</h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fields">
    <div class="body field">
      <%= f.text_area :body %>
    </div>
    <div class="signature field">
      <%= f.label :signature %>:
      <%= f.text_field :signature %>
    </div>
    <%= image_submit_tag("button.png") %>
  </div>
  
<% end %>

<p><h3 id="posts">Posts</h3>
  <% @latest_posts.each do |post| %>
  	<p><%= post.body %></p>
  	<p><b><%= post.signature %></b></p>
  <% end %>
<p>